{% extends "base.html" %}

{% block content %}

    <h1>영화 검색</h1>

<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <input type="text" name = "keyword" class = "form-control">

    <button type="submit" class = "btn btn-primary btn-block">검색</button>

</form>


{% if result %}
    검색 키워드 : {{ result.keyword }}<br/>

    {%  for movie in result.movie_set.all %}

        <div class = "col-sm-6 col-md-4">

            <div class = "jumbotron">
                <p>
                    <strong>{{ movie.name }}</strong> {{ movie.release_date }}
                    </p>

                <img src = "{{ movie.img_url }}" width="100"/>
            </div>

        </div>

    {% endfor %}

{% else %}
        검색 결과가 없습니다.
        {% endif %}

{% endblock %}